In [21]:
import sys

sys.path.append("..")

In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
from musical_festival_lineup.musical_festival_data import MusicalFestivalData, ARTISTS_CSV_PATH
from musical_festival_lineup.musical_festival_data import  CONFLICTS_CSV_PATH
import pandas as pd

### 1. Importing and Exploring the Data

#### 1.1 Raw artists dataset

In [26]:
artists_raw_df= pd.read_csv(ARTISTS_CSV_PATH, index_col=0)
artists_raw_df.head()

              name       genre  popularity
0    Midnight Echo        Rock          75
1      Solar Flare  Electronic          78
2     Velvet Pulse        Jazz          35
3     Neon Reverie  Electronic         100
4  The Silver Owls   Classical          85

#### 1.2 Raw conflicts dataset

In [34]:
conflits_raw_df=pd.read_csv(CONFLICTS_CSV_PATH)
conflits_raw_df.head(5)

,Unnamed: 0,Midnight Echo,Solar Flare,Velvet Pulse,Neon Reverie,The Silver Owls,Echo Chamber,Aurora Skies,Static Mirage,Crimson Harmony,...,Rhythm Alchemy,Cloud Nine Collective,Hypnotic Echoes,The Polyrhythm Syndicate,Harmonic Dissonance,Turbo Vortex,The Jazz Nomads,The Bassline Architects,Cosmic Frequency,Parallel Dimension
0,Midnight Echo,0.0,0.0,0.0,0.2,0.5,0.0,0.80,1.0,0.2,...,0.2,0.80,1.0,1.00,0.65,1.00,0.4,0.40,1.0,0.2
1,Solar Flare,0.0,0.0,0.0,1.0,0.0,1.0,0.00,1.0,0.0,...,0.2,0.65,0.0,0.65,0.40,0.40,0.4,0.00,0.0,1.0
2,Velvet Pulse,0.0,0.0,0.0,1.0,0.5,0.0,0.65,1.0,0.5,...,1.0,1.00,0.4,1.00,0.70,0.00,1.0,0.15,1.0,0.4
3,Neon Reverie,0.2,1.0,1.0,0.0,0.2,0.9,0.20,1.0,0.0,...,0.0,0.00,0.0,0.20,0.65,0.65,0.2,0.00,0.2,1.0
4,The Silver Owls,0.5,0.0,0.5,0.2,0.0,1.0,0.00,1.0,0.9,...,1.0,0.65,0.0,0.20,0.90,0.20,0.2,0.40,1.0,0.0

- we will be creating a class Data that will do the handling of the data

In [36]:
data= MusicalFestivalData()

#### 1.3 Artists data processed with index

In [37]:
artists_df=data.artists
artists_df.head()

              name       genre  popularity
0    Midnight Echo        Rock          75
1      Solar Flare  Electronic          78
2     Velvet Pulse        Jazz          35
3     Neon Reverie  Electronic         100
4  The Silver Owls   Classical          85

#### 1.4 Conflicts data processed

In [40]:
conflicts_df=data.conflicts
conflicts_df

array([[0.  , 0.  , 0.  , ..., 0.4 , 1.  , 0.2 ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.  , ..., 0.15, 1.  , 0.4 ],
       ...,
       [0.4 , 0.  , 0.15, ..., 0.  , 1.  , 0.9 ],
       [1.  , 0.  , 1.  , ..., 1.  , 0.  , 0.  ],
       [0.2 , 1.  , 0.4 , ..., 0.9 , 0.  , 0.  ]])